body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	font-size: 24px;
	color: inherit;
}

h1{
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif !important;
    letter-spacing: -.02em;
    font-size: 50px;
    opacity:.65 !important;
    line-height: 2.2em;
    margin-top: 0;
}

h1, h2, h3, h4, h5, p {
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif !important;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	opacity: 0.5;
}


button {
	display: inline-block;
	background: #DEC3F3;
	border: 3px solid #9C41E3;
	border-radius: 25px;
	text-decoration: white;
	padding: 10px;
	color: white;
	font-weight: bold;
	transition: all .2s ease-in-out; 
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
	cursor: pointer;

}

button:hover {
	transform: scale(1.05);
}


section .section-wrapper > div.columns {
    display: inherit;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: stretch;
}

section .section-wrapper {
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height:400px;
    max-width: 964px;
    margin: 20px auto;
    height:calc(100% - 100px)
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: column;
}

section .section-wrapper > div.columns > div {
    width: 43.5%;
}

nav a,
nav button{
	margin-left:2em;
}

@media (max-width: 768px){
.item {
	width:100%;
}
.item-signup-header{
	margin-top:-2em;
}

nav {display:none;}
nav a {display:none;}
h1{font-size:2.2em;margin:-1em 0 1em 0;}
section .section-wrapper {margin:0;padding:0 2em;}
section .section-wrapper > div.columns {
    flex-direction: column;
}
section .section-wrapper > div.columns > div:first-child {
    margin-bottom: 30px;
}
section .section-wrapper > div.columns > div, .container .item {
    width: 100% !important;
}


}

.columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
}

#small-btn {
	font-size: 12px;
	text-align: center;
	display: inline-block;
	padding: 10px;
	cursor: pointer;
}

nav {
	padding: 50px;
	font: 32px;
}

.container-header {
	display: flex;
	justify-content: space-around;

}

.container-header img {
	padding: 20px;
	max-height: 75px;
}


#row-title {
	text-align: center;
	padding-top: 20px;
}

.item-title {
	font-size: 24px;
	opacity: 0.8;
}

#navbar {
	justify-content: space-between;
}

.grey {
	background-color: #FDFDFD;
}

#black {
	background-color: black;
}

#white {
	color: white;
	opacity: 1;
	font-size:1.75em;
}

.container {
	display: flex;
	justify-content: space-around;
	text-align: center;
	padding: 50px 0px;
}

.container p {
	font-size: 20px;
}

.container-center{
	text-align: center;
	padding: 50px;
}

.container-center img {
	max-width:100%;
}

.item-signup-header {
	text-align: center;
}

.item-signup-header button {
	text-align: center;
	color: white;
	font-family: Arial;
	font-size: 18px;
	background-color: #C3F3D9;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border: 3px solid #77C484;
	padding: 20px;
	margin-top: -50px;
	font-size: 18px;
}


.item-signup-header button:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.container-header-body {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 75px 0px;
}

.item {
	width:30%;
	margin-right:2%;
	text-align: center;
}

section{padding:3em 0 0 0;}

#github-btn {
	cursor: pointer;
}

.container-signup {
	text-align: center;
	padding: 40px;
}

.container-signup button {
	padding: 20px;
	font-size: 18px;
}

.container-footer {
	display: flex;
	padding:1em 0;
	justify-content: space-around;
}

.social img {
	height: 2.5em;
	width: 2.5em;
	display: inline-block;
}

.icon {
	cursor: pointer;
	border-radius: 50px;
	transition: all .2s ease-in-out;
	margin: 0px 10px;
}


#medium:hover {
	background-color: #77C484;
}

#github:hover {
	background-color: #767676;
}

#gitter:hover{
	background-color: #A94141;
}

